    <div class = "column-centered-div">
        <h3> Server info </h3>
        <p> <strong> Os System: </strong>{{os}}</p>
        <p> <strong> Node version: </strong> {{ nodeVersion }} </p>
        <p> <strong> Current Directory: </strong> {{ currentDirectory }} </p>
        <p> <strong> Process Id: </strong> {{ processId }} </p>
        <p> <strong> Memory Usage: </strong> {{ memoryUsage }} </p>
        <p> <strong> Command line arguments: </strong> {{ entryArguments }} </p>
    </div>