<div class="user-card">
  <div class="column">
    <h4>{{user.nombre}}</h4>
    <img src="{{user.url}}" class="avatar" alt="avatar" />
  </div>
  <div class="column">
    <div class="user-card-body">
      <p> <strong>Email:</strong> {{user.username}} </p>
      <p> <strong>Direccion:</strong> {{user.direccion}} </p>
      <p> <strong>Edad:</strong> {{user.edad}} </p>
      <p> <strong>Telefono:</strong> {{user.telefono}} </p>
      <p><strong>Administrador: </strong>
        <span class="green">{{admin}} </span>
      </p>
    </div>
  </div>
</div>